{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Père Noël Secret</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/secretsanta.css' %}">
    </head>
    <body>
        <header class="page-header">
            <div class="container">
                <aside class="actions">
                    <a class="btn btn-primary" href="{% url 'santa_group_new' %}">Nouveau</a>
                </aside>
                <h1><a href="/">Organisez votre Père Noël Secret !</a></h1>
            </div>
        </header>

        <main class="container">
            <div class="row">
                <div class="col">
                  {% block content %}
                  {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>
